<!DOCTYPE html>
<html>
  <head>
    <title>Payme integration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Payme integration</h1>
    <p>Merchant API <%= version %></p>
  </body>
</html>
