<%- include('../layout/header') %>
<body>
  <h1>Payme integration</h1>
  <p>Merchant API <%= version %></p>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/storehouse">Storehouses</a>
    </li>
    <li class="list-group-item">
      <a href="/transaction">Transactions</a>
    </li>
  </ul>
</body>
<%- include('../layout/footer') %>
